.footer{
    color: #fff;
    width: 100%;
    height: 40px;
    background-color: #909b9b;
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item{
    color: #fff;
    margin: 0 10px;
}

@media screen and (max-width: 360px) {
    .item{
        font-size: 12px;
    }
}