<div class="modal-body">
    <form [formGroup]="updateShape" (ngSubmit)="onSubmit(shape.type)">
  
        <div class="d-flex justify-content-center" >
            <mat-form-field appearance="fill">
                <mat-label *ngIf="shape.type == 'cylinder'">radius</mat-label>
                <mat-label *ngIf="shape.type !== 'cylinder'">base</mat-label>
                <input matInput type="number" min="1" placeholder="minimum 1" formControlName="base" required>
            </mat-form-field> 

        </div>

        <div class="d-flex justify-content-center" *ngIf="shape.type == 'rectangular prism'">
            <mat-form-field appearance="fill">
                <mat-label>height</mat-label>
                <input matInput type="number" min="1" placeholder="minimum 1" formControlName="height" required>
            </mat-form-field>

        </div>

        <div class="d-flex justify-content-center">
            <mat-form-field appearance="fill">
                <mat-label>depth</mat-label>
                <input matInput type="number" min="1" placeholder="minimum 1" formControlName="depth" required>
            </mat-form-field>

        </div>

        <div class="d-flex justify-content-center">
            <mat-form-field appearance="fill">
                <mat-label>x</mat-label>
                <input matInput type="number" min="1" placeholder="minimum 1" formControlName="x" required>
            </mat-form-field>

        </div>

        <div class="d-flex justify-content-center">
            <mat-form-field appearance="fill">
                <mat-label>y</mat-label>
                <input matInput type="number" min="1" placeholder="minimum 1" formControlName="y" required>
            </mat-form-field>

        </div>

        <div class="d-flex justify-content-center" *ngIf="shape.type == 'triangular prism'">
            <mat-form-field appearance="fill">
                <mat-label>side1</mat-label>
                <input matInput type="number" min="1" placeholder="minimum 1" formControlName="side1" required>
            </mat-form-field>

        </div>

        <div class="d-flex justify-content-center" *ngIf="shape.type == 'triangular prism'">
            <mat-form-field appearance="fill">
                <mat-label>side2</mat-label>
                <input matInput type="number" min="1" placeholder="minimum 1" formControlName="side2" required>
            </mat-form-field>

        </div>
      <div class="d-flex justify-content-center">
        <button mat-raised-button color="primary">update</button>
      </div>
    </form>
</div>
  
